In [1]:
import pandas as pd
import numpy as np
import re

### Read Stations into DATAFRAME

In [11]:
stations_filename = "C:\\Users\\jades\\1001 Intro to Data Science Notebooks\\Project\\Data\\ghcnd-stations.txt"
stations_infile = open(stations_filename, 'r') 
station_lines = stations_infile.readlines() 
stations_infile.close()

df_list = []
for line in station_lines:
    char_split_list = []
    char_split_list.append(line[:11])
    char_split_list.append(line[12:20])
    char_split_list.append(line[21:30])
    char_split_list.append(line[31:37])
    char_split_list.append(line[38:40])
    char_split_list.append(line[41:71])
    char_split_list.append(line[72:75])
    char_split_list.append(line[76:79])
    char_split_list.append(line[80:85])
    char_split_list = [x.strip() for x in char_split_list]
    df_list.append(char_split_list)

In [12]:
stations_df = pd.DataFrame(df_list, columns = ["ID","LATITUDE","LONGITUDE","ELEVATION","STATE","NAME","GSN FLAG","HCN/CRN FLAG","WMO ID"])
CA_stations_df= stations_df.where(stations_df["STATE"]=="CA").dropna()
CA_stations_df

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
55677,US1CAAL0001,37.8123,-122.2160,113.4,CA,PIEDMONT 1.0 SE,,,
55678,US1CAAL0002,37.7075,-122.0687,87.5,CA,CASTRO VALLEY 0.5 WSW,,,
55679,US1CAAL0003,37.7169,-122.0585,163.4,CA,CASTRO VALLEY 0.4 NNE,,,
55680,US1CAAL0004,37.6483,-121.8745,107.0,CA,PLEASANTON 1.8 SSE,,,
55681,US1CAAL0006,37.8319,-122.2503,58.2,CA,OAKLAND 4.4 NNW,,,
...,...,...,...,...,...,...,...,...,...
114003,USW00093241,38.3775,-121.9575,33.2,CA,VACAVILLE NUT TREE AP,,,
114004,USW00093242,36.9878,-120.1106,77.1,CA,MADERA MUNI AP,,,
114005,USW00093243,37.2381,-120.8825,23.8,CA,MERCED 23 WSW,,CRN,74507
114006,USW00093245,38.3208,-123.0747,19.2,CA,BODEGA 6 WSW,,CRN,74518
114202,USW00094299,41.4914,-120.5644,1333.5,CA,ALTURAS MUNI AP,,,

In [13]:
CA_stations_ID_list = CA_stations_df["ID"].unique()

### Read Inventory into DATAFRAME

In [15]:
inventory_filename = "C:\\Users\\jades\\1001 Intro to Data Science Notebooks\\Project\\Data\\ghcnd-inventory.txt"
inventory_infile = open(inventory_filename, 'r') 
inventory_lines = inventory_infile.readlines() 
inventory_infile.close()

df_list = []
for line in inventory_lines:
    char_split_list = []
    char_split_list.append(str(line[:11].strip()))
    char_split_list.append(float(line[12:20]))
    char_split_list.append(float(line[21:30]))
    char_split_list.append(str(line[31:35].strip()))
    char_split_list.append(int(line[36:40]))
    char_split_list.append(int(line[41:45]))
    #char_split_list = [x.strip() for x in char_split_list]
    df_list.append(char_split_list)

In [16]:
inventory_df = pd.DataFrame(df_list, columns = ["ID","LATITUDE","LONGITUDE","ELEMENT","FIRSTYEAR","LASTYEAR"])
CAin_df = inventory_df.where(inventory_df["ID"].isin(CA_stations_ID_list)).dropna()
CAin_df

                 ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
192120  US1CAAL0001   37.8123  -122.2160    PRCP     2008.0    2020.0
192121  US1CAAL0001   37.8123  -122.2160    SNOW     2008.0    2020.0
192122  US1CAAL0001   37.8123  -122.2160    DAPR     2008.0    2020.0
192123  US1CAAL0001   37.8123  -122.2160    MDPR     2008.0    2020.0
192124  US1CAAL0002   37.7075  -122.0687    PRCP     2008.0    2012.0
...             ...       ...        ...     ...        ...       ...
683520  USW00094299   41.4914  -120.5644    WSF5     1998.0    2020.0
683521  USW00094299   41.4914  -120.5644    WT01     2006.0    2020.0
683522  USW00094299   41.4914  -120.5644    WT02     2006.0    2020.0
683523  USW00094299   41.4914  -120.5644    WT03     2013.0    2020.0
683524  USW00094299   41.4914  -120.5644    WT08     2006.0    2020.0

[23000 rows x 6 columns]

In [17]:
CAin_df["ELEMENT"].value_counts()[:10]

PRCP    2478
SNOW    2371
MDPR    1762
DAPR    1749
SNWD    1692
TMAX    1247
TMIN    1242
WT03     907
WT01     896
WT05     781
Name: ELEMENT, dtype: int64

In [18]:
time_CAin_df = CAin_df.where((CAin_df["LASTYEAR"] == 2020) & (CAin_df["FIRSTYEAR"] <= 1990)).dropna()
time_CAin_df

                 ID  LATITUDE  LONGITUDE ELEMENT  FIRSTYEAR  LASTYEAR
371852  USC00040029   41.1936  -120.9447    PRCP     1894.0    2020.0
371853  USC00040029   41.1936  -120.9447    SNOW     1894.0    2020.0
371854  USC00040029   41.1936  -120.9447    SNWD     1943.0    2020.0
371943  USC00040136   32.8358  -116.7775    TMAX     1952.0    2020.0
371944  USC00040136   32.8358  -116.7775    TMIN     1952.0    2020.0
...             ...       ...        ...     ...        ...       ...
679076  USW00093230   38.8983  -119.9947    TMAX     1968.0    2020.0
679077  USW00093230   38.8983  -119.9947    TMIN     1968.0    2020.0
679079  USW00093230   38.8983  -119.9947    PRCP     1968.0    2020.0
679080  USW00093230   38.8983  -119.9947    SNOW     1968.0    2020.0
679081  USW00093230   38.8983  -119.9947    SNWD     1968.0    2020.0

[1853 rows x 6 columns]

In [19]:
combined_CA_element_list = time_CAin_df[["ID","ELEMENT"]].groupby('ID').agg(lambda x: x.tolist())#.where(time_CAin_df["ELEMENT"].isin(element_list)).dropna()
combined_CA_element_list = combined_CA_element_list.reset_index()
combined_CA_element_list

              ID                                            ELEMENT
0    USC00040029                                 [PRCP, SNOW, SNWD]
1    USC00040136               [TMAX, TMIN, TOBS, PRCP, SNOW, SNWD]
2    USC00040144                                             [PRCP]
3    USC00040176                                 [PRCP, SNOW, SNWD]
4    USC00040192                           [TMAX, TMIN, TOBS, PRCP]
..           ...                                                ...
372  USW00093115                                 [PRCP, AWND, PGTM]
373  USW00093134   [TMAX, TMIN, PRCP, SNOW, SNWD, PGTM, WT01, WT08]
374  USW00093193  [TMAX, TMIN, PRCP, SNOW, SNWD, AWND, PGTM, TAV...
375  USW00093209  [TMAX, TMIN, PRCP, SNOW, SNWD, WT01, WT02, WT0...
376  USW00093230                     [TMAX, TMIN, PRCP, SNOW, SNWD]

[377 rows x 2 columns]

In [20]:
element_list = ["TMAX","TMIN","PRCP"]

subset_mask = np.zeros(len(combined_CA_element_list["ELEMENT"]))

for i,j in enumerate(combined_CA_element_list["ELEMENT"]):
     subset_mask[i] = set(element_list).issubset(set(j))

combined_CA_element_list["ELEMENT MASK"] = subset_mask
combined_CA_element_filter = combined_CA_element_list.where(combined_CA_element_list["ELEMENT MASK"] ==1).dropna()
combined_CA_element_filter

,ID,ELEMENT,ELEMENT MASK
1,USC00040136,"[TMAX, TMIN, TOBS, PRCP, SNOW, SNWD]",1.0
4,USC00040192,"[TMAX, TMIN, TOBS, PRCP]",1.0
5,USC00040212,"[TMAX, TMIN, TOBS, PRCP]",1.0
6,USC00040232,"[TMAX, TMIN, PRCP]",1.0
7,USC00040343,"[TMAX, TMIN, TOBS, PRCP]",1.0
...,...,...,...
371,USW00093112,"[TMAX, TMIN, PRCP, AWND, PGTM, WT01, WT08]",1.0
373,USW00093134,"[TMAX, TMIN, PRCP, SNOW, SNWD, PGTM, WT01, WT08]",1.0
374,USW00093193,"[TMAX, TMIN, PRCP, SNOW, SNWD, AWND, PGTM, TAV...",1.0
375,USW00093209,"[TMAX, TMIN, PRCP, SNOW, SNWD, WT01, WT02, WT0...",1.0
376,USW00093230,"[TMAX, TMIN, PRCP, SNOW, SNWD]",1.0

In [21]:
CA_stations_df.where(CA_stations_df["ID"].isin(combined_CA_element_filter["ID"])).dropna()

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
88875,USC00040136,32.8358,-116.7775,516.6,CA,ALPINE,,,
88881,USC00040192,33.8647,-117.8425,71.6,CA,ANAHEIM,,,
88883,USC00040212,38.5731,-122.4406,522.7,CA,ANGWIN PACIFIC UNION COLLEGE,,,
88886,USC00040232,37.9833,-121.7525,18.3,CA,ANTIOCH PUMPING PLT #3,,,
88895,USC00040343,36.4914,-118.8253,520.6,CA,ASH MTN,,,
...,...,...,...,...,...,...,...,...,...
113963,USW00093112,32.7000,-117.2000,7.9,CA,NORTH ISLAND NAS,,,
113975,USW00093134,34.0511,-118.2353,70.1,CA,LOS ANGELES DWTN USC CAMPUS,,,
113983,USW00093193,36.7800,-119.7194,101.5,CA,FRESNO YOSEMITE INTL AP,GSN,HCN,72389
113988,USW00093209,35.6697,-120.6283,246.9,CA,PASO ROBLES MUNI AP,,,
114002,USW00093230,38.8983,-119.9947,1924.5,CA,SOUTH LAKE TAHOE AP,,,

In [24]:
arr = CA_stations_df['ID'].where(CA_stations_df["ID"].isin(combined_CA_element_filter["ID"])).dropna().values

In [25]:
arr

array(['USC00040136', 'USC00040192', 'USC00040212', 'USC00040232',
       'USC00040343', 'USC00040383', 'USC00040449', 'USC00040521',
       'USC00040673', 'USC00040693', 'USC00040741', 'USC00040931',
       'USC00040943', 'USC00040983', 'USC00041018', 'USC00041072',
       'USC00041194', 'USC00041244', 'USC00041253', 'USC00041277',
       'USC00041312', 'USC00041424', 'USC00041497', 'USC00041534',
       'USC00041614', 'USC00041697', 'USC00041700', 'USC00041715',
       'USC00041758', 'USC00041806', 'USC00041838', 'USC00041864',
       'USC00041912', 'USC00041948', 'USC00041990', 'USC00042012',
       'USC00042214', 'USC00042239', 'USC00042294', 'USC00042319',
       'USC00042402', 'USC00042500', 'USC00042574', 'USC00042598',
       'USC00042706', 'USC00042713', 'USC00042805', 'USC00042863',
       'USC00042920', 'USC00042934', 'USC00042941', 'USC00043083',
       'USC00043157', 'USC00043161', 'USC00043182', 'USC00043191',
       'USC00043261', 'USC00043384', 'USC00043402', 'USC00043417',
       'USC00043463', 'USC00043573', 'USC00043578', 'USC00043714',
       'USC00043747', 'USC00043761', 'USC00043824', 'USC00043855',
       'USC00043875', 'USC00043896', 'USC00043914', 'USC00043939',
       'USC00044025', 'USC00044211', 'USC00044223', 'USC00044259',
       'USC00044297', 'USC00044374', 'USC00044412', 'USC00044500',
       'USC00044534', 'USC00044555', 'USC00044712', 'USC00044838',
       'USC00044881', 'USC00044890', 'USC00044957', 'USC00044997',
       'USC00045026', 'USC00045064', 'USC00045118', 'USC00045233',
       'USC00045311', 'USC00045360', 'USC00045449', 'USC00045532',
       'USC00045679', 'USC00045756', 'USC00045915', 'USC00045933',
       'USC00045941', 'USC00045983', 'USC00046074', 'USC00046136',
       'USC00046144', 'USC00046154', 'USC00046168', 'USC00046175',
       'USC00046252', 'USC00046336', 'USC00046377', 'USC00046399',
       'USC00046506', 'USC00046521', 'USC00046624', 'USC00046657',
       'USC00046685', 'USC00046699', 'USC00046719', 'USC00046730',
       'USC00046773', 'USC00046826', 'USC00046926', 'USC00047085',
       'USC00047109', 'USC00047195', 'USC00047253', 'USC00047339',
       'USC00047414', 'USC00047643', 'USC00047767', 'USC00047813',
       'USC00047851', 'USC00047888', 'USC00047902', 'USC00047916',
       'USC00047965', 'USC00048045', 'USC00048135', 'USC00048218',
       'USC00048351', 'USC00048353', 'USC00048380', 'USC00048587',
       'USC00048606', 'USC00048702', 'USC00048713', 'USC00048758',
       'USC00048839', 'USC00048917', 'USC00048999', 'USC00049001',
       'USC00049026', 'USC00049035', 'USC00049053', 'USC00049073',
       'USC00049099', 'USC00049111', 'USC00049152', 'USC00049325',
       'USC00049367', 'USC00049378', 'USC00049452', 'USC00049473',
       'USC00049490', 'USC00049621', 'USC00049694', 'USC00049699',
       'USC00049742', 'USC00049781', 'USC00049785', 'USC00049855',
       'USC00049866', 'USS0019L03S', 'USS0019L05S', 'USS0019L06S',
       'USS0019L07S', 'USS0019L08S', 'USS0019L13S', 'USS0019L17S',
       'USS0019L19S', 'USS0019L24S', 'USS0019L38S', 'USS0019L39S',
       'USS0019L40S', 'USS0020H06S', 'USS0020H12S', 'USS0020H13S',
       'USS0020K03S', 'USS0020K04S', 'USS0020K13S', 'USS0020K25S',
       'USS0020K27S', 'USS0020K30S', 'USS0020K31S', 'USS0020L02S',
       'USS0020L06S', 'USS0020L10S', 'USW00003104', 'USW00003122',
       'USW00003144', 'USW00003159', 'USW00023110', 'USW00023119',
       'USW00023129', 'USW00023130', 'USW00023136', 'USW00023155',
       'USW00023157', 'USW00023158', 'USW00023161', 'USW00023174',
       'USW00023179', 'USW00023182', 'USW00023187', 'USW00023188',
       'USW00023190', 'USW00023191', 'USW00023199', 'USW00023225',
       'USW00023230', 'USW00023232', 'USW00023233', 'USW00023234',
       'USW00023237', 'USW00023258', 'USW00023259', 'USW00023271',
       'USW00023272', 'USW00023273', 'USW00023275', 'USW00024213',
       'USW00024216', 'USW00024257', 'USW00024259', 'USW00024286',
       'USW00093104', 'USW00093107', 'USW00093111', 'USW00093112',
       'USW00093134', 'USW00093193', 'USW00093209', 'USW00093230'],
      dtype=object)